html {height: 100%;}
body {margin: 0; overflow-x: hidden; min-height: 100%;}

#footer {
  padding-top: 2px;
  height: 34px;
  margin-top: -36px;
}
#footer a {height: 0;}
#main {padding-bottom: 36px;}

img.avatar {max-height: 60px; max-width: 80px; padding: 3px; border: 1px solid lightgray; }
img.tiny {height: 20px; }
img.nano {height: 1.2em; }
img.logo {height: 80px; padding: 3px; float: left; }

.rate span {
  font-weight: bold;
  font-size: 200%;
  -moz-user-select: none; -khtml-user-select: none; user-select: none;
  cursor: pointer;
}

.rate span.plus:after {content: "▲"; }
.rate .plus.weak:after {content: "△"; }
.rate span.minus:after {content: "▼"; }
.rate .minus.weak:after {content: "▽"; }

.top {padding-top: 8px; }
.header span.h1 {font-size: 24px; }
.header p {margin-left: 100px; height: 7em; }

.quotes span {display: none; }
.quotes span.active, .quotes span.active span {display: block; }
.quotes span span {margin-bottom: 0; }
.quotes {height: 4em; }
.quotes span.right {font-weight: bolder; }
.quotes:hover {background-color: #f8f8f6; }

#logins {
  float: right;
  margin-top: -10px;
  padding: .5em;
  background-color: #ffffaa;
  cursor: pointer;
  border: 1px solid #eeeeaa;
  border-radius: 0 0 5px 5px;
}

#logins a {text-decoration: none; }
#logins .prompt span {padding: .5em; }
#logins span {font-weight: bold; }
#not_logged_in, #logins .vk, #logins .fb {margin: .5em; }

.loggedinvk.loggedinfb #not_logged_in {display: none; }
.loggedinvk .inputs_not_logged, .loggedinfb .inputs_not_logged {display: none; }

.loggingin {display: none; padding-right: .5em; }
.loggingin.loggingfb, .loggingin.loggingvk {display: inline; }

.add .inputs {display: none; }
.loggedinvk .add .inputs, .loggedinfb .add .inputs {display: block; }

.right {float: right; }
.narrow {width: 100px; }
.ultranarrow {width: 50px; }

.search img {padding: 1em 1em 0 0.5em; }
.search input {
  font-size: 200%;
  width: 100%;
}

.prompt {color: gray; }

.comments {padding: 25px; }

.add {
  border: 1px solid gray;
  background-color: #dfb;
  padding: .5em 0 .2em 0;
  text-align: center;
}
.collapsed {
  cursor: s-resize;
}
.collapsed .form {
  display: none;
}
.add .form textarea {
  width: 45%;
  height: 3.5em;
  resize: none;
  padding: 0;
}
.add .handle div {
  width: 6%;
  margin: 0 47% 0 47%;
  padding-bottom: 1px;
  border-bottom: 1px solid gray;
}
.add .inputs * {
  vertical-align: middle;
}
.add .inputs input, .add .inputs textarea {margin: .5em; }

.yellow {background-color: yellow; }

.hidden {display: none; }

.menu ul {list-style-type:none; margin: 0; padding: 0; }
.menu ul li {display: inline; margin: .5em 1em .5em 0; }
.menu ul li.active {text-decoration: underline; }

.valid {border: 1px solid green !important; }
.invalid {border: 2px solid red !important; }

img.github {position: absolute; top: -15px; left: -15px; border: 0; }
