body {overflow-x: hidden; }

img.avatar {max-height: 80px; max-width: 80px; padding: 3px; border: 1px solid lightgray;}
img.tiny {height: 20px; }
img.nano {height: 10px; }

img.tiny.rate.weak {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

span.rating {font-weight: bold; font-size: 200%; }

.header h1 {
  height: 110px;
  padding-left: 110px;
  background: url('/images/noun_project_756.svg');
  background-repeat: no-repeat;
}
.header .sub {
  padding-left: 110px;
  margin-top: -80px;
}
.header a {text-decoration: none; }

.quotes p {display: none; }
.quotes p.active {display: block; }
.quotes p span {margin-bottom: 0; }
.quotes {height: 4em; }
.quotes span.right {font-weight: bolder; }

.logins {
  position: relative;
  float: right;
}

.right {float: right; }
.narrow {width: 100px; }
.ultranarrow {width: 50px; }

.search img {padding: 1em 1em 0 0.5em; }
.search input {
  font-size: 200%;
  width: 100%;
}

.prompt {color: gray; }

.comments {padding: 25px; }

.add {
  -moz-user-select: none; -khtml-user-select: none; user-select: none;
  border: 1px solid gray;
  background-color: #dfb;
  padding: .5em 0 .2em 0;
  text-align: center;
}
.collapsed {
  cursor: s-resize;
}
.collapsed .form {
  display: none;
}
.add .form textarea {
  width: 45%;
  height: 3.5em;
  resize: none;
  padding: 0;
}
.add .handle div {
  width: 6%;
  margin: 0 47% 0 47%;
  padding-bottom: 1px;
  border-bottom: 1px solid gray;
}
.add .inputs * {
  vertical-align: middle;
}
.add .inputs input, .add .inputs textarea {margin: .5em; }

.yellow {background-color: yellow; }

.corner-banner {
  position: absolute;
  right: -65px;
  top: 25px;
  display: block;
  width: 200px;
  background: #666; /* old browsers */
  background: -moz-linear-gradient(top, #666 0%, #000 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#000)); /* webkit */
  text-align:center;
  font-size:11px;
  line-height:13px;
  padding:3px 3px 4px 3px;
  text-shadow: #000 1px 1px 0;

  -moz-transform: rotate(45deg);  /* FF3.5+ */
  -o-transform: rotate(45deg);  /* Opera 10.5 */
  -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
  transform: rotate(45deg);  /* CSS3 (for when it gets supported) */

  box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;  
  -moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;  
  -webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;     
  -o-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;     
  }
.corner-banner em {
  letter-spacing:1px;
  font-style:normal;
  font-size:18px !important;
  color:#f00;
  text-transform:uppercase;
  line-height:12px;
  display:block;
}
